body {
	color: #6a6a6a;
	font-family: 'Lato', sans-serif;
}

.container {
	padding: 0;
}

#school-rating {
	text-align: center;
}

#school-rating h1 {
	margin-top: 0;
}

#breakdown .panel-body {
	text-align: center;
	height: 130px;
}

.is-inadequate {
	color: orange;
}

.is-requires {
	color: #dfdc00;
}

.is-good {
	color: #82c000;
}

.is-outstanding {
	color: green;
}

.school-page {
	padding-left:2%;
	padding-right: 2%;
}

h1 {
font-family: 'Lato', sans-serif;
}